@model StudentManagement_Mvc.Models.Result

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Result</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.course.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
